config/hypr/conf/monitors.conf
config/hypr/conf/environments.conf
config/hypr/conf/keybindings.conf
config/gtk-3.0/bookmarks
config/gtk-3.0/settings.ini
config/gtk-4.0/settings.ini
config/waybar/quicklinks.json
config/waybar/config
current/theme
current/background
config/.zshrc
themes/pywal
themes/matugen